politician.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.example.com"
xmlns="http://www.example.com"
elementFormDefault="qualified">

<xs:element name="politician">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="address" type="xs:string"/>
            <xs:element name="age" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="platform" type="xs:string"/>
            <xs:element name="position" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
