retail.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.example.com"
xmlns="http://www.example.com"
elementFormDefault="qualified">

<xs:element name="Retail">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="brandName" type="xs:string"/>
            <xs:element name="prodID" type="xs:int"/>
            <xs:element name="price" type="xs:decimal"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
            <xs:element name="stock" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>